.Modal {
    position: absolute;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    marginRight: '-50%';
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 20px;
    borderRadius: 4px;
    outline: none;
    boxShadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backgroundColor: rgba(0, 0, 0, 0.5);
  }
  